<!DOCTYPE html>
<html lang="fr">
<head><meta charset="utf-8"><title>NovaSphere</title></head>
<body>
  <h1>NovaSphere - {{ web_environment }}</h1>
  <p>Serveur : {{ inventory_hostname }}</p>
  <p>Deploye par Ansible, provisionne par Terraform.</p>
</body>
</html>
