# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
crash.log

# Ansible : inventaire genere et secrets
ansible/inventory.ini
ansible/.vault_pass
*.retry

# Cles et environnement
*.pem
.env
